form {
    margin-bottom: 1rem;
}

code {
    white-space: pre;
    font-family: monospace;
}

.supply {
    background-color: rgba(255, 0, 0, 0.504);
}

.demand {
    background-color: rgba(0, 0, 0, 0.263);
}

input {
    text-align: center;
}

label {
    font-weight: bold;
}

#deliveries {
    margin: 1rem;
    padding: 2rem;
    border-radius: 25px;
}

#dCosts {
    margin: 1rem;
    padding: 2rem;
    border-radius: 25px;
}

